.message {
    text-align: center;
}

.players {
  list-style: none;
  text-align: center;
}

.button {
  text-align: center;
}

.container {
  width: 100%;
}

.t {
  width: 50%;
  text-align: center;
  float: left;
}
